header {
  background-color: rgb(0, 0, 150);
  color: white;
}
main {
  background-color: rgb(192,192,192);
  color: black;
  margin-left: 30px;
}
footer {
  background-color: rgb(0, 0, 150);
  color: white;
}
